<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSV64ZCgor0svEcTWYEFolCG9UKzZ5MQc"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.5.3/dist/socket.io.js"></script>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <script>
        // Declare map and marker as global variables
        let map;
        let marker;

        // Initialize the map
        function initMap() {
            // Retrieve latitude and longitude from the template
            const latitude = parseFloat('{{ latitude }}');
            const longitude = parseFloat('{{ longitude }}');
            const zoom = 14;  // Set the desired zoom level

            console.log(latitude, longitude);

            // Create a map centered at the specified latitude and longitude
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: latitude, lng: longitude },
                zoom: zoom
            });

            // Add a marker at the specified location
            marker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map,
                title: 'Marker'
            });

        }

        // Update the map based on latitude and longitude
        function updateMap(latitude, longitude) {
            const newPosition = new google.maps.LatLng(latitude, longitude);

            // Update the marker position
            marker.setPosition(newPosition);

            // Center the map to the new position
            map.setCenter(newPosition);

            // Zoom to the new position
            map.setZoom(14);

            console.log(latitude, longitude);
        }

        // Call initMap() to initialize the map
        initMap();
    </script>
</body>
</html>